name: Pull Requests
on:
  pull_request:
    branches:
      - main
jobs:
  plan:
    name: Terraform Plan on Pull Request to `main`
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Authenticate with GCP
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER_NAME }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          audience: https://github.com/${{ github.repository_owner }}
      - name: Trigger Cloud Build
        run: gcloud builds submit --config=.cloudbuild/terraform-plan.yaml --service-account="projects/${{ secrets.GCP_SA_PROJECT_ID }}/serviceAccounts/${{ secrets.GCP_SA_EMAIL }}" --substitutions=_GITHUB_TOKEN="${{ secrets.TOKEN }}",_GITHUB_PR_NUMBER="${{ github.event.pull_request.number }}",_GITHUB_REPO="${{ github.repository }}" .
